<h1>Cart con id: {{{cId}}}</h1>


<div class="container">
    <table id="table">
        <tr>
            <th>Titulo</th>
            <th>Descipcion</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Stock</th>
            <th>Cantidad</th>
        </tr>
        {{{cartListRenderHTML}}}
    </table>
</div>

<button id="buyButton" ref={{{cId}}}>Comprar</button>
<a href="/api/products"><button>Ir a productos</button></a>
<a href="/api/session/current"><button>Ir a mi perfil</button></a>

<script src="/js/cart.js"></script>