
<h1>Cart con id: {{{cId}}}</h1>


<div class="container">
    <table id="table">
        <tr>
            <th>Titulo</th>
            <th>Descipcion</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Stock</th>
            <th>Cantidad</th>
        </tr>
        {{{cartListRenderHTML}}}
    </table>
</div>

<button id="buyButton" ref={{{cId}}} data-secret="pk_test_51NKj7WATY5aZMx60YjX9JEogghDPBF5ZM9jjLcso953iGYCS30STxj9xNS42Afa9rIG6iZnG0TiVK9zK1uMo0GGv00l3qvt3dy">Comprar</button>
<a href="/api/products"><button>Ir a productos</button></a>
<a href="/api/session/current"><button>Ir a mi perfil</button></a>



<script src="/js/cart.js"></script>