<label for="changePassword">Introduzca la nueva contraseña</label>
<input type="password" id="changePassword">
<button id="confirmPassword">Aceptar</button>


<script src="/js/changePassword.js"></script>