<h1>Lista de Productos</h1>

<h2>Bienvenido {{{user.first_name}}}</h2>


<div class="container">
    {{{productsRenderList}}}
</div>


<div id="pagination">

</div>
<div id="productsResponseJSON" style="display: none;">
    {{{productsResponseJSON}}}
</div>

<script>

</script>
<script src="/js/home.js"></script>