<div>
    <div class="chat-container">

        <input type="text" placeholder="Email" name="email" id="email" />

        <input type="password" placeholder="Password" name="password" id="password" />

        <button id="login">Iniciar sesion</button>

    </div>

    <a href="/signup"><button>Registrarse</button></a>

    <a href="/login/github">Iniciar sesion con GITHUB</a>

</div>


<script src="/js/login.js"></script>