<div>
    <div class="chat-container">

        <input type="text" placeholder="Email" name="email" id="email" />

        <input type="password" placeholder="Password" name="password" id="password" />

        <button id="login">Enviar</button>

    </div>

</div>


<script src="/js/login.js"></script>