<form action="/payment" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_51NKj7WATY5aZMx60YjX9JEogghDPBF5ZM9jjLcso953iGYCS30STxj9xNS42Afa9rIG6iZnG0TiVK9zK1uMo0GGv00l3qvt3dy"
        data-amount="2000" data-name="Ejemplo de Pago" data-description="Descripción del Pago"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto"
        data-currency="usd"></script>
</form>