<h2>Pago aprobado</h2>

<div style="display: none" id="data">{{{ticketJSON}}}</div>
<div id="info"></div>

<a href="/api/products"><button>Volver a Home</button></a>

<script src="/js/ticket.js"></script>