.messageLog {
    border: 1px solid black;
}
.messageLog h5 {
    font-size: 1.2rem;
    margin: 2px 16px;
}
.messageLog p {
    font-size: 1.2rem;
    margin: 8px 32px;
}
#chatInput {
    height: 2rem;
    width: 100%;
    margin: 10px;
}